body{
padding-top: 70px;
}
.city1{
    background: url("pville.jpeg");
    background-repeat: no-repeat;
   

    }
.city2{
    background-image: url("hunt.jpg");
    background-position: center;
    background-repeat: no-repeat;
   
    
}
.city3{
    background-image: url("gat.jpg");
    background-position: right;
    background-repeat: no-repeat;
    
    
}
.city4{
    background-image: url("pig.jpg");
    background-repeat: no-repeat;
    background-position: center;
   
    
    

}
.city5{
    background-image: url("char.jpg");
    background-repeat: no-repeat;
   

}
   
.city6{
    background-image: url("vegas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
    
    
    
}
.card{
   border-radius: 10%;
   background-size: cover;
 


}
.tempOutside{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
h1{
    text-align: center;
    color: green;
    font-weight: bold;
}
h4{
    color:black;
}
h5{
    text-align: center;
    font-weight: bold;
    color:white;
}
.left{
    text-align: left;
    font-weight: bold;

}
.right{
    text-align: right;
    font-weight: bold;
}



